$colorPrimary: #2568fb;
$colorSoften: #d3e0e9;
$colorWhite: #fcfcfc;
$colorSecondary: #e7d2cc;
$colorTertiary: #868b8e;
$colorContainer: #eeede7;
$colorError: #ba0f30;
$colorWarn: #d89c60;
$colorInfo: #2f2440;
$colorBackground: #e9eaec;
$fontFamily: 'Monaco', sans-serif;
