$colorPrimary: #2568FB;
$colorSoften: #D3E0E9;
$colorWhite: #fcfcfc;
$colorSecondary: #E7D2CC;
$colorTertiary: #868B8E;
$colorContainer: #EEEDE7;
$colorError: #BA0F30;
$colorWarn: #D89C60;
$colorInfo: #2F2440;
$colorBackground: #E9EAEC;
$fontFamily: system-ui, sans-serif;
