@import 'variables.scss';

body {
  color: $colorPrimary;
}

div {
  width: 100%;
  height: 10px;
}

.one {
  background-color: $colorPrimary;
}

.two {
  background-color: $colorSecondary;
}

.three {
  background-color: $colorTertiary;
}

.four {
  background-color: $colorBackground;
}
