@import 'variables.scss';

html, body {
  background-color: $colorSoften;
  margin: 0px;
  padding: 0px;
  max-width: 100vw;
  min-height: 100vh;
}

header {
  background-color: $colorWhite;

}

body {
  display: grid;
  font-family: $fontFamily;
}

div {
  display: flex;
}

span {

}

section {

}
