{
"presets": [
    ["@babel/preset-env", {
        "useBuiltIns": "usage",
        "corejs": "3",
        "targets": {
            "node": "current",
            "browsers": [
                "last 5 versions",
                "ie >= 8"
            ]
        }
    }]
],
}
